**__pycache__**
**build**
**egg-info**
**dist**
#data/
*.pyc
venv/
*.idea/
*.so
#*.yaml
*.sh
*.pth
#*.pkl
*.zip
*.bin
#output
version.py
# Ignore only nuScenes mini dataset
data/nuscenes/v1.0-mini/
tools/openpcdet_py38/
